<h1>Kullanıcı Girişi</h1>

<%= form_with(url: login_path, local: true) do |form| %>
  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :session_username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :session_password %>
  </div>

  <div class="actions">
    <%= form.submit "Giriş Yap", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Kayıt Ol', register_path, class: 'btn btn-secondary' %>
