<h1>Kitap Listesi</h1>

<table>
  <thead>
    <tr>
      <th>Başlık</th>
      <th>Yazar</th>
      <th>Yayıncı</th>
      <th>Fiyat</th>
      <th>İşlemler</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.publisher %></td>
        <td><%= number_to_currency(book.price) %></td>
        <td>
          <%= link_to 'Görüntüle', book_path(book), class: 'btn btn-info' %>
          <%= link_to 'Düzenle', edit_book_path(book), class: 'btn btn-primary' %>
          <%= link_to 'Sil', book_path(book), method: :delete, data: { confirm: 'Bu kitabı silmek istediğinizden emin misiniz?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Yeni Kitap Ekle', new_book_path, class: 'btn btn-success' %>
